<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Booking app</title>
</head>

<body>
    <div id="maindiv">
        <h1>Book a Call</h1>
        <style>h1{text-align: center;} </style>
        <h4><u>Book a call slot and our representative will call you within 1hr of selected time.</u></h4>
        <style>h4{text-align: center;}</style>
        <form action="">
            <label for="name">NAME:</label>
            <div>
            <input type="text" name="" id="name" autocomplete="off">
        </div>
        <label for="mail">EMAIL:</label>
        <div>
            <input type="email" name="" id="mail" autocomplete="off">
        </div>
        <label for="no">PHONE:</label>
        <div>
            <input type="number" name="" id="no">
        </div>
        <input type="button" value="submit" id="bt">
        
        </form>
       <div id="additem">
<ul id="additemul">
    
</ul>
       </div>
    </div>
  
    <script src="https://cdnjs.cloudflare.com/ajax/libs/axios/1.6.0/axios.min.js" integrity="sha512-WrdC3CE9vf1nBf58JHepuWT4x24uTacky9fuzw2g/3L9JkihgwZ6Cfv+JGTtNyosOhEmttMtEZ6H3qJWfI7gIQ==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
   <script src="script.js"></script> 
</body>
</html>